/*banner style */
* {
    margin: 0;
}

.banner {
    max-width: 1600px;
    height: 808px;
    margin: 0 auto;
    padding-bottom: 140px;

}

.banner_contents {
    position: absolute;
    text-align: right;
    color: aliceblue;
    font-style: normal;

}

.banner_title {
    Width: 525px;
    Height: 228px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin: 200px 230px 20px 845px;


}

.banner_subtitle {
    height: 78px;
    width: 494px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 230px 30px 876px;
}

.button_primary {
    color: #005FAC;
    background-color: aliceblue;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    height: 64px;
    width: 160px;
    left: 1210px;
    top: 578px;
    border-radius: 5px;

    text-align: center;
    margin: 15px 230px 30px 876px;
    padding: 18px;

}
/* about me */

.about_me{
    max-width: 1600px;
    height: 600pxpx;
    display: flex;
    gap: 160px;
    margin: auto;
    
}

.aboutmepic img{
    border-radius: 10%;
    width: 400px;
    height: 400px;
}
.about_me_contents{
    
    padding-top: 30px;
}
.about_me_parasub{
    padding-bottom: 30px;
    text-align: right;
    width: 700px;
}
/* My failures of previous year */
.aboutmecoontainer{
    display: flex;
    gap: 50px;
    background-color: cadetblue;
    padding: 20px;
    width: 300px;
    margin-left: 200px;
    border-radius: 20px;
    text-align: justify;
    
}
.about_me_para1{
    font-size: 50px;
}
.about_me_para2{
    font-size: 35px;

}
.about_me_para3{
    color: rgb(15, 105, 150);

}

.person {
    display: flex;
    max-width: 1170px;
    max-height: 700px;
    gap: 60px;
    
    margin: 0 auto;
    padding-top: 100px;
    /* margin: 100px 230px 50px 294px; */
    padding-bottom: 100px;
}

.person_contents {
    margin: 230px 36px 70px;
    text-align: left;
}

.person_title {
    width: 288px;
    height: 94px ;
    Font-style: Bold;
    Font-size: 40px;
    padding-bottom: 30px;

}

.person_subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.person_list {
    list-style-type: "\2705";
}

/* my plans */

.my_plan {
    text-align: center;
    /* margin: 100px 230px 200px 294px; */
    margin: 0 auto;
    padding-bottom: 70px;
}

.myplans_header {
    font-family: 'Work Sans';
    font-size: 40px;
    Width: 179 px;
    Height: 47px;
    margin-bottom: 80px;
}

.plans_info-container {
    display: flex;
    width: 1200px;
    height: 202.96px;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 70px;


}

.plans_info-title {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plans_info-description {
    color: #737272;
    text-align: center;
    font-size: 20px;
}

/* Watch picture */

.watch_picture {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%) , url(/images/watch.jpg);
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 250px;
    left: 260px;
    top: 2222px;
    border-radius: 8px;
    margin: 0 auto;
}

.gradient_contents {
    position: absolute;
    font-style: normal;
    width: 459px;
    height: 182px;
    text-align: left;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.gradient_title {
    Width: 500px;
    Height: 110px;
    font-weight: 700;
    margin: 58px 600px 0px 64px;
}

.button_secondary {
    color: #005FAC;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    height: 50px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-left: 64px;

}

/* LAst Container */

.black_background {
    background-color: black;
    width: 1600px;
    height: 450px;
    margin: 0 auto;
    color: white;
    margin-top: 50px;
    padding-top: 130px;
    padding-left: 350px;
    display: flex;
    gap: 320px;
}

.black_leftside_container {
    text-align: left;
    width: 485px;
    height: 317px;
    width: 485px;
    color: #FFFFFF;
}

.container_contents {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;

}

.black_title {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;

}

.icons_container {
    display: flex;
    gap: 20px;
}


.black_rightside_container {
    color: white;
}

.subs_header {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding: 5px;
    margin-top: 120px;
    margin-bottom: 10px;

}


input {
    height: 45px;
    width: 325px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: black;
    color: #737272;
    border: 2px;
    border-color: #737272;
    border-radius: 8px;
    border-style: solid;
    padding-left: 15px;
}

.sub_button {
    background-color: #005FAC;
    border: 0;
    height: 50px;
    width: 140px;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
}

